
/* General */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: #ffffff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

/* Main Image on Home Page */
#main {
  background: linear-gradient(to bottom right, #c8c3c5, #d7d379);
}

/* Logo on Home Page */
#logo {
  margin-right: 100px;
  margin-left: 100px;
}

h1, h2, h3, p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #000000;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2, h3 {
  font-size: 22px;
}

/* Side Navbar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#6c8c9d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Main Image */
.main-image {
  width: 100%;
  height: 50%;
}

/* Side Navbar */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d3d3d3;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#lines {
  font-size: 50px;
  cursor: pointer;
  margin-left: 18px;
  position: fixed;
  color: #d3d3d3;
}

/* footer */
footer {
  position: static;
  width: 100%;
  clear: both;
  font-size: 18px;
  color: #999;
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ccc;
}

/* sidebar */
.sidebar {
  float: right;
  width: 100%;
  max-width: 200px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

.social:last-child {
  margin-right: 0;
}

/* main */
#main-container {
  padding-top: 5%;
  padding-left: 3%;
}

/* Main Section */
.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: #A9A9A9;
  border: 1px solid #ddd;
}

/* projects on portfolio.html */
.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #000000;
  border-bottom: 0;
}

/* Picture on about.html */
.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* Paragraph on about.html */
.wrapper{
  text-align: justify;
  text-justify: inter-word;
}

/* contact form on contact.html */
#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

button[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #000000;
  border: 0 none;
}

 /* resume button on contact.html */
.btn-custom {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #000000;
}

/* ---------Beginning of Media Queries--------------*/
@media screen and (max-width:2000px) {
  * {
  box-sizing: border-box;
  }

  .main-section {
    max-width:60%;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* projects on portfolio.html */
  .work {
    width:100%;
  }

  footer {
    padding: 90px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width:1580px) {
  * {
  box-sizing: border-box;
  }

  .main-section {
    max-width:60%;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* projects on portfolio.html */
  .work {
    width:100%;
  }

  footer {
    padding: 38px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width:1280px) {
  * {
  box-sizing: border-box;
  }

  .main-section {
    max-width:60%;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* projects on portfolio.html */
  .work {
    width:100%;
  }

  footer {
    padding: 38px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width: 980px) {
  * {
  box-sizing: border-box;
  }
  #main-container {
    position:relative;
    max-width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-section {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .sidebar {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  /* resume button on contact.html */
 .btn-custom{
   margin-left: 75%;
 }

  /* projects on portfolio.html */
  .work {
    width:100%;
  }

  /* Footer */
  footer {
    position: static;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width: 950px) {
  .btn-custom {
    margin-left: 80%;
  }
}

@media screen and (max-width: 880px) {
  .btn-custom {
    margin-left: 82%;
  }
}

@media screen and (max-width: 800px) {
  .btn-custom {
    margin-left: 90%;
  }
}


@media screen and (max-width:768px) {
  #main-container {
    position: static;
    max-width: 90%;
    width: 85%;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
  }
  .main-section {
    max-width: 100%;
  }

  .container {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    float:left;
    max-width: 100%;
    text-align: center;
  }

  .btn-custom {
    margin-left: 65%;
  }
  
  #connect {
    position:static;
    width: 100%;
    max-width: 960px;
  }

  footer {
    bottom: 0;
    width: 100%;
  }
  /* Portfolio */
  .work {
    width: 80%;
    left: 10%;
    padding: 0px;
    margin-bottom: 3;
    font-weight: 100;
    line-height: 10px;
    margin: 10px 0px 15px;
  }
  .title {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 680px) {
  .btn-custom {
    margin-left: 53%;
  }
}

@media screen and (max-width: 660px) {
  .btn-custom {
    margin-left: 54%;
  }
}


@media screen and (max-width:640px) {
  #main-container {
    position: static;
    padding-top: 5%;
    padding-left: 10%;
    width: 100%;
    text-align: left;
    font-size: 15px;
  }

  .sidebar {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  /* resume button on contact.html */
  .btn-custom {
    margin-left: 57%;
  }
  
  .auth-image {
    width:95%;
  }

/* Footer */
    footer {
    position: static;
  }
 
  /* Portfolio */
  .work {
    width: 96%;
    left: 2%;
    padding: 0px;
    margin-bottom: 3;
    font-weight: 100;
    line-height: 10px;
    margin: 10px 0px 15px;
    background: transparent !important;
  }
}

@media screen and (max-width: 600px) {
  .btn-custom {
    margin-left: 50%;
  }
}

@media screen and (max-width: 575px) {
  .btn-custom {
    margin-left: 45%;
  }
}

@media screen and (max-width: 550px) {
  .btn-custom {
    margin-left: 40%;
  }
}

@media screen and (max-width: 525px) {
  .btn-custom {
    margin-left: 35%;
  }
}

@media screen and (max-width: 475px) {
  .btn-custom {
    margin-left: 25%;
  }
}

@media screen and (max-width: 450px) {
  body {
    margin: -4% !important;
  }
  
  #main-container {
    max-width: 100%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
  .main-section {
    max-width: 100%;
    padding: 15px;
  }

  /* project on portfolio.html */
  .work {
    height: auto;
  }

  /* resume button on contact.html */
  .btn-custom {
    margin-left: 47%;
  }
}

@media screen and (max-width: 425px) {

  /* resume button on contact.html */
  .btn-custom {
    margin-left: 43%;
  }
}

@media screen and (max-width: 400px) {

  /* resume button on contact.html */
  .btn-custom {
    margin-left: 39%;
  }
}