/* Global */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2c3e50, #999999);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient( #2c3e50, #999999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 800px !important;
}
@media (max-width: 576px) { 
  body {
    background: linear-gradient(#2c3e50, #999999) !important;
  }
}

/* paragraph (about.html) */
div p {
  color: #f1f1f1;
  font-size: 20px;
}
p a {
  color: #40505d;
}

p a:hover {
  color: #ffffff;
}

/* project titles and technologies font (portfolio.html) */
div h3{
  color: #d3d3d3;
}

div h5 {
  color: #d3d3d3;
}

div h6{
  color: #d3d3d3;
}
/* Side Navbar (global) */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #999999, #c8c3c5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Side Navbar (global) */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d3d3d3;
  display: block;
  transition: 0.5s;
}

/* Side Navbar (global) */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Side Navbar (global) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Side Navbar (global) */
#lines {
  font-size: 50px;
  cursor: pointer;
  margin-left: 18px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #d3d3d3;
}


/* footer (global)*/
footer {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  font-weight: 500px;
  color: #f1f1f1;
  text-align: center;
  background: #40505d;
  border-top: 3px solid #f1f1f1;
}
footer a {
  color: #d3d3d3;
}
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 20px;
    font-weight: 400px;
    border-top: 1px solid #ccc;
  }
}

/* Portfolio page */
#port-contact {
  color: #f1f1f1;
}

div a {
  color: #f1f1f1;
}

div a:hover {
  color: #ffffff !important;
}

/* Contact info (contact.html) */
#contact-section {
  color: #f1f1f1;
}

#contact-section a {
  color: #f1f1f1 !important;
}

#contact-section a:hover {
  color: #ffffff !important;
}

/* contact form (contact.html) */
#contact-form ul {
  margin-bottom: 20px;
}

/* contact form (contact.html) */
#contact-form li {
  margin-bottom: 10px;
}

/* contact form (contact.html) */
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

/* contact form (contact.html) */
input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* contact form (contact.html) */
textarea {
  height: 200px;
}

/* contact form (contact.html) */
.btn, button {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #0093b7;
  border-radius: 5px;
}

.btn, button:hover {
 background: #4ca4b9;
}