
/* General (global) */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #c8c3c5, #0093b7);
}

/* Logo (index.html) */
#logo {
  margin-right: 100px;
  margin-left: 100px;
}

/* Side Navbar (global) */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #0093b7, #c8c3c5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


/* Main Image (index.html)*/
.main-image {
  width: 100%;
  height: 100%;
}

/* Side Navbar (global) */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d3d3d3;
  display: block;
  transition: 0.3s;
}

/* Side Navbar (global) */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Side Navbar (global) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Side Navbar (global) */
#lines {
  font-size: 50px;
  cursor: pointer;
  margin-left: 18px;
  position: fixed;
  color: #d3d3d3;
}

/* footer (about.html, portfolio.html, contact.html)*/
footer {
  position: static;
  width: 100%;
  clear: both;
  font-size: 30px;
  font-weight: 500px;
  color: #d3d3d3;
  text-align: center;
  background: linear-gradient(to bottom right, #999, #c8c3c5);
  border-top: 1px solid #ccc;
}

/* sidebar (about.html, portfolio.html, contact.html) */
.sidebar {
  float: right;
  width: 100%;
  max-width: 200px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

/* sidebar (about.html, portfolio.html, contact.html) */
.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}
/* sidebar (about.html, portfolio.html, contact.html) */
.social:last-child {
  margin-right: 0;
}

/* main (about.html, portfolio.html, contact.html) */
#main-container {
  padding-top: 5%;
  padding-left: 3%;
}

/* Main Section (about.html, portfolio.html, contact.html) */
.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 40px;
  background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
  border: 1px solid #ddd;
}

/* projects (portfolio.html) */
.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
  border-bottom: 0;
}

/* Picture (about.html) */
.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* Paragraph (about.html) */
.wrapper{
  text-align: justify;
  text-justify: inter-word;
}

/* contact form (contact.html) */
#contact-form ul {
  margin-bottom: 20px;
}

/* contact form (contact.html) */
#contact-form li {
  margin-bottom: 10px;
}

/* contact form (contact.html) */
label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

/* contact form (contact.html) */
input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

/* contact form (contact.html) */
textarea {
  height: 200px;
}

/* contact form (contact.html) */
button[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to bottom right, #C8C3C5, #000000);
  border: 0 none;
}

 /* resume button (contact.html) */
.btn-custom {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #000000;
}

/* ---------Beginning of Media Queries--------------*/
@media screen and (max-width:2000px) {
  * {
  box-sizing: border-box;
  }

  .main-section {
    max-width:60%;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* projects (portfolio.html) */
  .work {
    width:100%;
  }

  footer {
    padding: 90px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width:1580px) {
  * {
  box-sizing: border-box;
  }

  .main-section {
    max-width:60%;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }

  /* projects (portfolio.html) */
  .work {
    width:100%;
  }

  footer {
    padding: 38px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width:1280px) {
  * {
  box-sizing: border-box;
  }
  #main-container {
    position:relative;
    max-width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-section {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }
  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .sidebar {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  /* projects (portfolio.html) */
  .work {
    width:100%;
  }

  footer {
    padding: 38px 0;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width: 980px) {
  * {
  box-sizing: border-box;
  }
  #main-container {
    position:relative;
    max-width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  .main-section {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  .auth-image {
    width:50%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .sidebar {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  /* resume button (contact.html) */
 .btn-custom{
   margin-left: 75%;
 }

  /* projects (portfolio.html) */
  .work {
    width:100%;
  }

  /* Footer */
  footer {
    position: static;
    bottom:0;
    width:100%;
  }
}

@media screen and (max-width: 950px) {
  .btn-custom {
    margin-left: 80%;
  }
}

@media screen and (max-width: 880px) {
  .btn-custom {
    margin-left: 82%;
  }
}

@media screen and (max-width: 800px) {
  .btn-custom {
    margin-left: 90%;
  }
}


@media screen and (max-width:768px) {
  /* (about.html, portfolio.html, contact.html) */
  #main-container {
    position: static;
    max-width: 90%;
    width: 85%;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
  }
  /* (about.html, portfolio.html, contact.html) */
  .main-section {
    max-width: 100%;
  }
 
  /* (about.html, portfolio.html, contact.html) */
  .container {
    width: 100%;
  }

  /* (about.html, portfolio.html, contact.html) */
  .sidebar {
    width: 100%;
    float:left;
    max-width: 100%;
    text-align: center;
  }

  .btn-custom {
    margin-left: 65%;
  }
  
  /* (about.html, portfolio.html, contact.html) */
  #connect {
    position:static;
    width: 100%;
    max-width: 960px;
  }

  /* (about.html, portfolio.html, contact.html) */
  footer {
    bottom: 0;
    width: 100%;
  }
  /* (portfolio.html) */
  .work {
    width: 80%;
    left: 10%;
    padding: 0px;
    margin-bottom: 3;
    font-weight: 100;
    line-height: 10px;
    margin: 10px 0px 15px;
  }
  .title {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 680px) {
  .btn-custom {
    margin-left: 53%;
  }
}

@media screen and (max-width: 660px) {
  .btn-custom {
    margin-left: 54%;
  }
}


@media screen and (max-width:640px) {
  /* (about.html, portfolio.html, contact.html) */
  #main-container {
    position: static;
    padding-top: 5%;
    padding-left: 10%;
    width: 100%;
    text-align: left;
    font-size: 15px;
  }
  /* (about.html, portfolio.html, contact.html) */
  .sidebar {
    width: 100%;
    float:left;
    max-width:100%;
    text-align: center;
  }

  /* resume button (contact.html) */
  .btn-custom {
    margin-left: 57%;
  }
  
  .auth-image {
    width:95%;
  }

/* Footer (about.html, portfolio.html, contact.html) */
    footer {
    position: static;
  }
 
  /* (portfolio .html)*/
  .work {
    width: 96%;
    left: 2%;
    padding: 0px;
    margin-bottom: 3;
    font-weight: 100;
    line-height: 10px;
    margin: 10px 0px 15px;
    background: transparent !important;
  }
}

@media screen and (max-width: 600px) {
  .btn-custom {
    margin-left: 50%;
  }
}

@media screen and (max-width: 575px) {
  .btn-custom {
    margin-left: 45%;
  }
}

@media screen and (max-width: 550px) {
  .btn-custom {
    margin-left: 40%;
  }
}

@media screen and (max-width: 525px) {
  .btn-custom {
    margin-left: 35%;
  }
}

@media screen and (max-width: 475px) {
  .btn-custom {
    margin-left: 25%;
  }
}

@media screen and (max-width: 450px) {
  /* (global) */
  body {
    margin: -4% !important;
  }
  
  /* (about.html, portfolio.html, contact.html) */
  #main-container {
    max-width: 100%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* (about.html, portfolio.html, contact.html) */   
  .main-section {
    max-width: 100%;
    padding: 15px;
  }

  /* projects (portfolio.html) */
  .work {
    height: auto;
  }

  /* resume button (contact.html) */
  .btn-custom {
    margin-left: 47%;
  }
  /* Logo (index.html) */
  #logo {
  margin-top: 50px;
  }
}

@media screen and (max-height: 450px) {
  /* (global) */
  .sidenav {
    padding-top: 15px;
  }
  /* (global) */
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {

  /* resume button (contact.html) */
  .btn-custom {
    margin-left: 43%;
  }
}

@media screen and (max-width: 400px) {

  /* resume button (contact.html) */
  .btn-custom {
    margin-left: 39%;
  }
}